/* Effective stylesheet produced by snapshot save */
.flex #header, .flex #container, .flex #mainnav, .flex #content, .flex #footer { margin-left: 0px; margin-right: 0px; }
#main.flex { margin: 0px auto; text-align: left; width: 100%; }
.flex #header { background-color: rgb(78, 154, 6); height: auto; min-height: 46px; border-bottom: 1px solid rgb(78, 154, 6); overflow: auto; padding: 0px 10px; }
.flex #header #logo { position: relative; left: 0px; float: left; }
.flex #header #logo a { display: block; overflow: auto; }
.flex #header #logged { padding: 0px; line-height: 44px; position: relative; float: right; }
.flex #mainnav li.launchpad { width: 100%; border-top: 1px solid rgb(204, 204, 204); }
.flex #container.main-menu { height: auto; overflow: auto; }
.flex .main-menu li a:link, .flex .main-menu li a:visited { border-right: 1px solid rgb(204, 204, 204); color: rgb(46, 52, 54); display: block; font-size: 14pt; padding: 0px 0.62em; text-decoration: none; line-height: 46px; text-align: center; }
.flex #mainnav li { line-height: 46px; height: 46px; }
.flex #content { padding: 18px 20px; border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); }
.flex #content .thumbnail_info_downloaded, .flex #content .favorite-icon, .flex #content .favorite-icon div { color: rgb(85, 87, 83); display: inline-block; }
.flex .clipart-thumb .wrap { display: block; height: 100%; width: 90%; }
@media (min-width: 1px) {
  #main.flex { overflow: hidden; }
  .flex #header #logo, .flex #header #logged { width: 100%; text-align: center; }
  .flex #search-i { padding: 0px; margin: 0px; width: 69%; }
  .flex #search { padding: 0px 10px; }
  .flex #mainnav li { width: 33.333%; }
  .flex #mainnav li:nth-child(1), .flex #mainnav li:nth-child(2), .flex #mainnav li:nth-child(3) { border-bottom: 1px solid rgb(204, 204, 204); }
  .flex #mainnav li:nth-child(3) a, .flex #mainnav li:nth-child(6) a { border-right: 0px solid rgb(204, 204, 204); }
  .flex #mainnav li.launchpad { width: 100%; }
  .flex #recent-img h3, .flex #content h2 { width: 100%; text-align: center; }
  .flex .r-img div.r-img-i { width: 50%; }
  .flex #content .r-img { width: 100%; }
  .flex .pagination { width: 100%; margin: 0px 0px 10px; }
  #footer #links { height: auto; }
}
@media (min-width: 480px) {
  .flex #content #recent-img .r-img, .flex #content .r-img { width: 50%; padding: 0px; }
  .flex .r-img div.r-img-i { width: 110px; }
  .flex .r-img div.r-img-i img { max-width: 100px; }
}
@media (min-width: 768px) {
  .flex { max-width: 750px; }
  .flex #search-i { padding: 0px; margin: 0px; width: 79%; }
  .flex #header #logo, .flex #header #logged { width: auto; text-align: left; }
  .flex #content h2 { text-align: left; }
  .flex #mainnav li { width: 16.666%; }
  .flex #mainnav li:nth-child(1), .flex #mainnav li:nth-child(2), .flex #mainnav li:nth-child(3) { border-bottom: 0px solid rgb(204, 204, 204); }
  .flex #mainnav li:nth-child(3) a { border-right: 1px solid rgb(204, 204, 204); }
  .flex #mainnav li.launchpad { width: 100%; }
  #footer #links { height: 30px; }
}
@media (min-width: 992px) {
  .flex { max-width: 970px; }
  .flex #mainnav li { width: auto; }
  .flex #mainnav li:nth-child(6) a { border-right: 1px solid rgb(204, 204, 204); }
  .flex #mainnav li.launchpad { width: auto; border-top: 0px solid rgb(204, 204, 204); }
  .flex #search-i { padding: 0px 4px; width: 220px; }
  .flex #normal-search .r-img, .flex #content .r-img { width: 33.333%; }
}
@media (min-width: 1200px) {
  .flex { max-width: 1170px; }
  .flex .r-img div.r-img-i { float: none; }
  .flex #normal-search .r-img div.r-img-i, .flex #bydate .r-img div.r-img-i, .flex #most-popular-weekly .r-img div.r-img-i, .flex #clipart_top_download_last_month .r-img div.r-img-i, .flex #user-cliparts .r-img div.r-img-i, .flex #search-tags .r-img div.r-img-i { float: left; }
  .flex #content .r-img { width: 25%; }
}
