/* Effective stylesheet produced by snapshot save */
div#container ul, .sidebox ul { padding: 0px; list-style: outside none none; }
body, td, input, select, ul, h1, h2, h3, h4, p { font-family: Arial,Helvetica,sans-serif; }
p { line-height: 160%; margin-bottom: 1em; }
html, body, div, span, applet, img, object, form, label, #search-i, #s-button { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
ul { list-style: outside none none; }
ul, ol, li { padding: 0px; margin: 0px; }
:focus { outline: 0px none; }
body { padding: 0px; margin: 0px; font-family: Arial,Tahoma,sans-serif; font-size: 9pt; color: rgb(0, 0, 0); height: 100%; background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: center; line-height: 1em; }
img { border: 0px none; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.clearfix { display: block; }
#main { width: 960px; text-align: left; margin: 0px auto; }
#header { height: 46px; background-color: rgb(78, 154, 6); margin: 0px 16px; position: relative; }
#logo { margin: 0px; padding: 0px; position: absolute; top: 0px; left: 11px; color: rgb(255, 255, 255); font-size: 30pt; font-weight: bold; line-height: 0; }
#logo a:link, #logo a:visited { color: rgb(255, 255, 255); }
#logged { color: rgb(255, 255, 255); font-size: 9pt; text-align: right; padding: 14px 20px 20px 10px; }
#logged b { color: rgb(255, 255, 255); margin: 0px 5px; }
#logged a:link, #logged a:visited { color: rgb(255, 255, 255); margin: 0px 5px; font-size: 14px; }
#logged a:hover, #logged a:active { text-decoration: underline; }
#search { text-align: right; padding: 0px 20px 0px 0px; }
#search-i { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 220px; height: 32px; padding: 0px 4px; color: rgb(85, 87, 83); font-weight: bold; font-size: 11pt; line-height: 13pt; vertical-align: middle; }
#mainnav { margin: 0px 16px; background-color: rgb(226, 226, 226); border: 1px solid rgb(204, 204, 204); }
#mainnav li { height: 39px; line-height: 39px; overflow: hidden; float: left; color: rgb(46, 52, 54); }
#mainnav li a:link, #mainnav li a:visited { color: rgb(46, 52, 54); text-decoration: none; display: block; padding: 0px 0.62em; font-size: 14pt; background-color: rgb(226, 226, 226); border-right: 1px solid rgb(204, 204, 204); }
#mainnav li a:hover, #mainnav li a:active { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#logged a#uploadshare:hover { text-decoration: none; border-bottom: medium none; }
#content { margin: 0px 16px; padding: 18px 20px; border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); }
#content h2 { font-size: 1.8em; font-weight: bold; clear: both; line-height: 120%; margin: 0px 0px 10px; }
#content h2 img { position: relative; top: 3px; }
#content h4 { line-height: 14pt; }
#content h4 a { color: rgb(85, 87, 83); }
#links { background-color: rgb(79, 81, 77); color: rgb(255, 255, 255); font-size: 0.9em; height: 30px; line-height: 30px; text-align: center; }
#links a:link, #links a:visited { color: rgb(255, 255, 255); text-decoration: none; }
#links a:hover, #links a:active { text-decoration: underline; }
.r-img { width: 280px; float: left; height: 100px; border-right: 5px solid rgb(255, 255, 255); margin-bottom: 15px; overflow: hidden; }
.r-img div.r-img-i { float: left; width: 110px; }
.r-img img { max-width: 100%; height: auto; max-height: 100px; }
.r-img h4 { font-size: 11pt; line-height: 1.2; padding: 3px 0px; font-weight: bold; display: inline; }
.r-img p { color: rgb(85, 87, 83); font-size: 9pt; line-height: 1.1; margin: 0px; }
.r-img p a:link, .r-img p a:visited { color: rgb(85, 87, 83); font-weight: bold; }
.r-img-i { height: 100px; text-align: center; }
.clipart-thumb .wrap { background-size: 0px 0px; }
.svg .clipart-thumb .wrap { height: 100%; width: 90%; display: block; background-size: contain; background-repeat: no-repeat; background-position: center center; }
.clipart-thumb img { visibility: visible; }
.svg .clipart-thumb img { visibility: visible; }
.clipart-thumb .wrap a { display: table-cell; width: 90px; height: 90px; vertical-align: middle; text-align: center; }
.pagination { clear: both; font-size: 14pt; line-height: 139%; margin-bottom: 10px; text-align: center; }
#container { height: 39px; }
input[type="text"] { border: 1px solid rgb(136, 136, 136); width: 100%; margin-bottom: 12px; }
#mainnav li.launchpad { float: right; background: none repeat scroll 0% 0% transparent; }
.favorite-icon {  }
.thumbnail_info_downloaded, .favorite-icon, .favorite-icon div { display: inline-block; color: rgb(85, 87, 83); }
#footer { margin: 0px 16px; clear: both; border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); }
#forfooter { background-color: rgb(78, 154, 6); }
#footer a { color: white; text-decoration: underline; margin-right: 8px; }
#footer h3 { text-align: center; font-size: 18pt; font-weight: normal; margin: 0px; padding: 20px 0px 0px; color: white; }
#footer h3 a { text-decoration: none; margin-right: 0px; }
#footer h3 a:hover { color: rgb(79, 81, 77); }
#footer h3:last-child { margin-bottom: 20px; }
.adsense { height: 100px; float: left; width: 100%; position: relative; }
.adsense > ins { left: 0px; right: 0px; margin: auto ! important; position: absolute ! important; }
