
body {
	background: #fff url(../images/stripe.png) repeat-x scroll 0% 0%;
/* 	color: #333; */
	color: black;
	margin: 0;
	padding: 0;
	font: 16px/1.5em verdana, serif;
}

#header {
	height: 90px;
}

#headline1 { 
	padding: 15px 0 40px 0; 
}

#headline1 .title { 
	font: normal 35px/35px georgia, "times new roman", times, serif; 
	border-bottom: 1px solid #999; 
	color: #cc0000; 
	padding-left: 20px; 
	margin-bottom: 4px; 
}

#headline1 .title a { /* CUSTOM EDIT */ 
	font: normal 35px/35px georgia, "times new roman", times, serif; 
	border-bottom: 1px solid #999; 
	color: #cc0000; 
	padding-left: 20px; 
	margin-bottom: 4px;
	text-decoration: none; 
	font-weight: normal;
}


* html #headline1 .title { 
	margin-bottom: 0; 
}

#headline1 .title em { 
	color: #5190b2; 
	font: bold 15px/15px arial verdana, helvetica, sans-serif; 
	padding-right: 6px;
}

#headline1 span.subtitle { 
	background-color: #999; 
	color: #fff; 
	font: bold 15px/15px arial verdana, helvetica, sans-serif; 
	letter-spacing: 4px; 
	margin: 0 0 20px 198px; 
	padding: 4px 4px 4px 8px; 
	text-transform: uppercase; 
}

#footer {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	clear: left;
	font-size: 75%;
	letter-spacing: 1px;
	margin: 15px 0 15px 0;
	width: 100%;
	text-align: center;
	padding: 10px 0 5px 0;
}

:link,:visited { text-decoration:none }

body,html,ul,ol,li,form {
	margin:0; 
	padding:0;
}

h1,h2,h3,h4,h5,h6 {
	/*margin:0;*/ 
	margin:30px 0 5px 0;

	padding:0;
}
/*
#maincolumn ul {
	margin-left: 20px;
	padding-left: 0;
	list-style: none;
}

#maincolumn li { 
	padding-left: 18px;
	background: url(../images/list.png) no-repeat 0% .5em;
}
*/
a, a:link, a:visited {
	font-weight: bold;
	color: #206fbc;
	/*color: #206fbc;*/
	/*letter-spacing: 1px;*/
	outline: none;
	text-decoration: underline;
	/*text-decoration: none;*/
}

a:hover {
	color: #669933;
	text-decoration: none;
}

#maincolumn a, #maincolumn a:link, #maincolumn a:visited {
	/*color: #cc0000;*/
	color: #206fbc;
}

#maincolumn a:hover {
	/* color: #cc6600;*/
	color: #20FFbc;
}

a.profilelink {
	color: white !important;
}

a img,:link img,:visited img {
	border: none;
}

h1, h2, h3, h4 {
	font-family: arial, helvetica, verdana, sans-serif;
	font-weight: normal;
	/*letter-spacing: 1px;*/
}

h1 {
	font-size: 218%;
}

h2 {
	font-size: 164%;
}

h3 {
	color: #5190b2;
	font-size: 145%;
}

h4 {
	color: #669933;
	font-size: 118%;
	font-weight: bold;
}

#navtop, #maincolumn, #leftcolumn, #rightcolumn  {
	font-size: 85%;
}

#maincolumn p, #leftcolumn p, #rightcolumn p  {
	margin-bottom: 18px;
}

blockquote {
	background-color: #f4f4f4;
	padding: 5px 10px 5px 10px;
	margin: 15px 40px 15px 20px;
	border-left: 5px solid #ccc;
	border-right: 5px solid #ccc;
	font-style: italic;
	letter-spacing: 1px;
}
/*
img {
	border-top: 1px solid #f4f4f4;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: 1px solid #f4f4f4;
	padding: 4px;
}
*/
hr {
	clear: both; 
	border: 0; 
	height: 1px; 
	color: #ccc; 
	background-color: #ccc; 
	margin: 0;
}

fieldset {
	border: 1px solid #ccc;
	color: #333;
	font-size: 90%; 
	line-height: 1.4em;
	padding: 5px;
	margin: 0 0 15px 2px;
	width: 186px;
}

legend {	
	color: #333;
	font-weight: bold;
}


/** Custom edits */
.editlink {
	/*text-align: right;*/
	vertical-align: text-top;
	font-size: 13px;
}

.editlink img {
	padding-right: 2px;
}
	
.cn { /* chinese characters */
	color: black;
	font-size: 200%; 
}

.char { /* chinese char as heading */
	color: black;
	font-size: 72px;
	line-height: 72px;
	/*margin: 10px 0 10px 0;*/
	/* padding-top: 20px;*/
	/*height: 72px;*/
}
.charsection {
/*	background-color: #5190b2;
	border: 5px solid #7cabc6;*/
	background-color: #7cabc6;
	border: 5px solid #5190b2;
	padding: 5px 10px 5px 10px;
	/* margin: 15px 40px 15px 20px;*/
	margin: 0px 10px 0px 0px;
	text-align: center;
  }
  
.lookupSystem {
    text-decoration: none !important;
    color:black !important;
  }
  
.login {
	background: #5190b2 url(../images/button_current.png) repeat-x;
	/* background-color: #5190b2;*/
	color: #FFFFFF;
	padding: 5px;
	/* font: bold 13px arial;*/ 
	font: 13px arial;
}

.login a, .login a:link, .login a:visited {
	color: #cc0000;
}

.login a:hover {
	color: #cc6600;
}

.alternate {
	color:#545454;
	font-size: 200%;
	margin-left: 0.1em; 
}
	
}
.full {
	width: 95%;
}

.search {
	margin-top:5px;
	margin-bottom:5px;
	padding: 5px;
	background: #333 url(../images/button.png) repeat-x;
}
/*
.search input.full {
	width: 63%;
}*/

.challenge {
    margin-top: 20px;
    color: #999999;
    font-size: 75%;
}
.addToPrimary {
	text-align: right;
	float:right;
}

.challenge a {
    /* color: #206fbc !important; */
    /*color: #990000 !important;*/
}
td {
    text-align: center;
    padding: 5px;
}

.composition, .mnemokw {
	font-weight: bold;
}

.navsubmenu {
	padding: 0;
	width: 100%;
	background: transparent;
}

.navsubmenu ul {
	font: bold 13px arial;
	margin: 0;
	margin-left: 20px;
	padding: 0;
	list-style: none;
}

.navsubmenu li {
	display: inline;
	margin: 0 2px 0 0;
	padding: 0;
}

.navsubmenu a, .navsubmenu a:link, .navsubmenu a:visited {
	float: left;
	display: block;
	color: #fff ! important;
	margin: 0 1px 0 0;
	padding: 5px 10px;
	text-decoration: none;
	letter-spacing: 1px;
	background: #333 url(../images/button.png) repeat-x;
	border-bottom: 1px solid #fff;
}

.navsubmenu a:hover{
	background: #999;
}

.navsubmenu .current a {
	background: #5190b2 url(../images/button_current.png) repeat-x; 
	border-color: #5190b2;
}

.modeDesc {
	padding-top: 10px;
	font-style: italic;
} 

#audioURL {
	width: 99%; 
}

div.charview {
	position: relative;
}

div.charview td{
	padding: 0px;    
  }
div.charview .charbox { /* Used in char listing for single views */
	color: black !important;
	text-decoration: none;
	font-weight: normal;
	font-size: 72px;
	line-height: 72px;
} 
div.charview .components { /* Used in char listing for single views */
	/*position: absolute; top: 10px; right: 40px;*/
	/* background-color: #7cabc6;*/
	/* background-color: #7cabc6; */
	color:black;
	background-color: #ccc;
    padding: 5px 10px 5px 10px;
	margin: 15px 40px 15px 20px;
	/* 
	border-left: 5px solid #ccc;
	border-right: 5px solid #ccc;
	*/
	font-style: normal;
	/* letter-spacing: 1px; */
	
}
div.charview .notes2 { /* Used in char listing for single views */
	background-color: #ccc;
	margin: 0px 40px 0px 20px;	
}
div.charview .notes { /* Used in char listing for single views */
	background-color: #f4f4f4;
	margin: 0px 40px 0px 20px;	
}
div.charview .keyword { /* Used in char listing for single views */
}
div.charview .mnemo { /* Used in char listing for single views */
}
div.charview .mnemo blockquote {
}

/***** GLOBAL CLASSES *****/

/*b, strong		{ letter-spacing: 1px; }*/

.clear,p 		{ clear: both; }

.img-left 		{ float:left; margin: 6px 10px 15px 0; }
.img-right 		{ float: right; margin: 6px 0 15px 10px; }

.float-left 	{ float:left; }
.float-right 	{ float: right; }

.text-left 		{ text-align: left; }
.text-right 	{ text-align: right; }
.text-center 	{ text-align: center; }
.text-justify 	{ text-align: justify; }
.textsmall		{ font-size: 90%; line-height: 1.4em; }

.underline 		{ border-bottom: 1px solid #333; }
.highlight 		{ background: #ffc; }

