/* no fixed width */ 

#maincontainer {
	/*width: 960px;*/
	width: 95%;
	margin: 0 auto;
}

#contentwrapper {
	float: left;
	width: 100%;
}

#maincolumn {
	margin-top: 12px;
	/* margin-right: 200px;*/
	margin-right: 30%; 
}

.text {
	margin: 0 15px 15px 0;
}

#rightcolumn {
	margin-top: 15px;
	float: left;
	/*width: 300px;
	margin-left: -300px;*/
	width: 29%;
	margin-left: -29%;
}

* html #maincolumn { margin-top: 10px; }
* html #rightcolumn { margin-top: 13px; }