@charset "ISO-8859-1";
/* Effective stylesheet produced by snapshot save */
.dropup, .dropdown { position: relative; }
.dropdown-toggle {  }
.dropdown-toggle:active, .open .dropdown-toggle { outline: 0px none; }
.caret { display: inline-block; width: 0px; height: 0px; vertical-align: top; border-top: 4px solid rgb(0, 0, 0); border-right: 4px solid transparent; border-left: 4px solid transparent; content: ""; }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0px; margin: 2px 0px 0px; list-style: outside none none; background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); background-clip: padding-box; }
.dropdown-menu span { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 20px; color: rgb(51, 51, 51); white-space: nowrap; }
.dropdown-menu li > span:hover, .dropdown-menu li > span:focus, .dropdown-submenu:hover > span { color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(0, 129, 194); background-image: linear-gradient(to bottom, rgb(0, 136, 204), rgb(0, 119, 179)); background-repeat: repeat-x; }
.dropup .caret, .navbar-fixed-bottom .dropdown .caret { border-top: 0px none; border-bottom: 4px solid rgb(0, 0, 0); content: ""; }
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu { top: auto; bottom: 100%; margin-bottom: 1px; }
.dropdown-submenu { position: relative; }
.dropdown-submenu > .dropdown-menu { top: 0px; left: 100%; margin-top: -6px; margin-left: -1px; border-radius: 0px 6px 6px; }
.dropdown-submenu:hover > .dropdown-menu { display: block; }
.dropdown-submenu > span:after { display: block; float: right; width: 0px; height: 0px; margin-top: 5px; margin-right: -10px; border-color: transparent transparent transparent rgb(204, 204, 204); border-style: solid; border-width: 5px 0px 5px 5px; content: " "; }
.dropdown-submenu:hover > span:after { border-left-color: rgb(255, 255, 255); }
.dropup .dropdown-submenu > .dropdown-menu { top: auto; bottom: 0px; margin-top: 0px; margin-bottom: -2px; border-radius: 5px 5px 5px 0px; }
body, html { font-family: Arial,Helvetica,sans-serif; font-size: 12px; height: 100%; padding: 0px; width: 100%; margin: 0px; }
h1 { padding: 0px 0px 10px; font-weight: bold; font-size: 20px; margin: 0px; color: rgb(102, 102, 102); }
a { text-decoration: none; color: rgb(0, 102, 255); }
a:hover { color: rgb(255, 51, 0); }
a img { border: 0px none; }
form { margin: 0px; padding: 0px; }
.container { max-width: 1200px; min-width: 970px; margin: 0px auto; padding-left: 5px; padding-right: 5px; position: relative; width: 80%; }
#sticky_wrap { min-height: 100%; }
#sticky_main { overflow: auto; padding-bottom: 220px; min-width: 980px; }
#sticky_footer { position: relative; margin-top: -220px; height: 220px; clear: both; }
body:before { content: ""; height: 100%; float: left; width: 0px; margin-top: -32767px; }
#top_nav { position: absolute; top: 0px; left: 0px; height: 25px; width: 100%; z-index: 200; background-color: rgba(0, 0, 0, 0.4); }
#top_nav .container { color: rgb(204, 204, 204); font-size: 11px; text-align: right; padding-top: 5px; }
#top_nav .container span { cursor: pointer; font-family: "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); margin-left: 7px; margin-right: 7px; }
#top_nav .container span:hover { color: rgb(102, 204, 255); }
#header { background-color: rgb(46, 168, 243); background-image: linear-gradient(to bottom, rgb(46, 168, 243), rgb(38, 160, 227)); background-repeat: repeat-x; width: 100%; height: 120px; }
#logo { height: 36px; width: 275px; background: url("v4_sprite.png") no-repeat scroll -127px 0px transparent; cursor: pointer; top: 50px; position: relative; }
#search_border { background-color: rgba(0, 0, 0, 0.3); height: 70px; width: 500px; margin: 0px auto; border-radius: 35px; position: absolute; top: 37px; right: 0px; }
#search_white { background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 50px; width: 480px; border-radius: 25px; margin-top: 10px; margin-left: 10px; }
#search_icon { position: absolute; left: 30px; top: 20px; width: 34px; height: 26px; background: url("v4_sprite.png") no-repeat scroll -208px -36px transparent; }
#search_term { position: absolute; left: 80px; top: 20px; width: 290px; height: 30px; line-height: 30px; border: 0px none; font-size: 14px; color: rgb(153, 153, 153); border-radius: 0px; box-shadow: none; transition: none 0s ease 0s ; padding: 0px; margin: 0px; }
#search_button { background-color: rgb(40, 171, 241); background-image: linear-gradient(to bottom, rgb(40, 171, 241), rgb(26, 150, 236)); box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.25); background-repeat: repeat-x; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); position: absolute; left: 385px; top: 15px; width: 100px; height: 31px; border: 0px none; font-size: 14px; color: rgb(255, 255, 255); border-radius: 20px; text-align: center; padding-top: 10px; padding-bottom: 30px; cursor: pointer; }
#search_button:hover { background-color: rgb(64, 195, 255); background-image: linear-gradient(to bottom, rgb(64, 195, 255), rgb(40, 171, 241)); }
#bottom_nav { background: none repeat scroll 0% 0% rgb(248, 249, 249); border-bottom: 1px solid rgb(204, 204, 204); height: 45px; }
#bottom_nav .container { font-family: "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif; }
ul.site-nav { padding: 13px 0px; margin: 0px; }
ul.site-nav > li { padding-right: 15px; background: url("v4_index_menu-down.png") no-repeat scroll right 5px transparent; padding-bottom: 15px; color: rgb(114, 114, 114); margin-right: 50px; cursor: pointer; margin-top: 10px; display: inline; }
#bottom_nav .container #home { background: none repeat scroll 0% 0% transparent; padding-right: 5px; }
ul.site-nav > li#international { float: right; margin-right: 0px; margin-top: -20px; padding-top: 20px; width: 100px; display: inline-block; background-position: right 25px; text-align: right; }
ul.site-nav > li ul { position: absolute; width: 185px; background: none repeat scroll 0% 0% rgb(248, 249, 249); border-right: 1px solid rgb(204, 204, 204); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0px; margin: 15px 0px 0px -10px; list-style: outside none none; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; display: none; z-index: 5000; text-align: left; }
ul.site-nav > li#international ul { width: 130px; margin-left: 15px; }
ul.site-nav > li ul li { padding-left: 10px; padding-bottom: 4px; padding-top: 4px; color: rgb(102, 102, 102); }
ul.site-nav > li ul li:last-child { border-radius: 0px 0px 10px 10px; }
ul.site-nav > li#international ul li { padding-bottom: 2px; padding-top: 2px; }
ul.site-nav > li ul li:hover { background: none repeat scroll 0% 0% rgb(77, 180, 241); color: rgb(255, 255, 255); }
ul.site-nav > li ul li span, ul.site-nav > li ul li em { background: url("v4_sprite.png") no-repeat scroll 0% 0% transparent; display: inline-block; height: 16px; width: 16px; margin-right: 8px; margin-bottom: -2px; }
#bottom_nav .container .money { background-position: -128px -36px; }
#bottom_nav .container .house { background-position: -176px -36px; }
#bottom_nav .container .arrow_down { background-position: -160px -36px; }
#bottom_nav .container .pictures { background-position: -144px -36px; }
#bottom_nav .container .coins_add { background-position: -128px -36px; }
#bottom_nav .container .folder_picture { background-position: -96px -36px; }
#bottom_nav .container .application_edit { background-position: -48px -52px; }
#bottom_nav .container .photo { background-position: 0px -52px; }
#bottom_nav .container .user_go { background-position: -32px -52px; }
#middle { padding-left: 5px; padding-right: 5px; height: 100%; margin: 0px auto; padding-top: 10px; overflow: hidden; clear: both; }
#sidebar { width: 150px; border: 1px solid rgb(219, 219, 219); float: left; margin-right: 18px; margin-top: 5px; margin-bottom: 20px; }
#sidebar > .title { font-size: 12px; color: rgb(51, 51, 51); font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; background-color: rgb(240, 240, 240); padding-top: 3px; padding-bottom: 3px; padding-left: 10px; }
#sidebar > ul { padding: 0px; margin: 0px; }
#sidebar > ul > li { list-style-type: none; background-image: url("urn:not-loaded:http://ec.static.canstockphoto.com/1c248bd8e02102e8/img/bullet.png"); background-repeat: no-repeat; background-position: 0px 4px; padding-left: 12px; margin-left: 8px; border-bottom: 1px dotted rgb(219, 219, 219); margin-right: 5px; margin-top: 5px; padding-bottom: 5px; font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; font-size: 11px; }
#footer_top { font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; background-color: rgb(207, 207, 207); background-image: url("bg.png"); background-repeat: repeat; padding-top: 20px; position: relative; height: 120px; font-size: 12px; }
#more_info_container { width: 300px; }
#more_info { font-size: 15px; color: rgb(103, 103, 103); border-bottom: 1px solid rgb(170, 169, 169); padding-bottom: 3px; margin-bottom: 5px; }
#more_info_container ul { padding: 0px; margin: 0px; }
#more_info_container li { list-style: outside none none; width: 150px; float: left; color: rgb(103, 103, 103); font-size: 11px; padding-bottom: 2px; display: inline-block; margin-left: 0px; }
#more_info_container span { cursor: pointer; }
#more_info_container span:hover { color: rgb(33, 161, 238); }
#social_media { width: 200px; overflow: hidden; margin: 0px auto; position: absolute; left: 45%; top: 0px; }
#social_media span { width: 33px; height: 33px; margin-right: 5px; cursor: pointer; display: inline-block; }
#icon_facebook { width: 33px; height: 33px; background: url("v4_sprite.png") no-repeat scroll -242px -36px transparent; }
#icon_twitter { width: 33px; height: 33px; background: url("v4_sprite.png") no-repeat scroll -275px -36px transparent; }
#icon_google { width: 33px; height: 33px; background: url("v4_sprite.png") no-repeat scroll -308px -36px transparent; }
#follow { padding-top: 3px; }
#help_container { width: 300px; float: right; text-align: right; }
.help_button { background-color: rgb(95, 95, 95); background-image: linear-gradient(to bottom, rgb(95, 95, 95), rgb(71, 71, 71)); background-repeat: repeat-x; text-align: center; color: rgb(255, 255, 255); border-radius: 20px; display: inline-block; margin-left: 5px; cursor: pointer; padding: 5px 15px 7px; white-space: nowrap; }
.help_button:hover { background-color: rgb(118, 118, 118); background-image: linear-gradient(to bottom, rgb(118, 118, 118), rgb(71, 71, 71)); }
#sites { background: url("v4_footer_sites-arrow.png") no-repeat scroll right center rgb(255, 255, 255); width: 200px; border-radius: 15px; color: rgb(153, 153, 153); height: 25px; text-align: left; padding-left: 10px; padding-top: 4px; margin-top: 15px; float: right; cursor: pointer; }
#sites:hover { border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; box-shadow: 0px 20px 20px rgb(51, 51, 51); }
#sites ul { overflow: auto; height: 158px; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 0px; margin: 3px 0px 0px -10px; list-style: outside none none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; box-shadow: 0px 20px 20px rgb(51, 51, 51); display: none; z-index: 1000; position: relative; }
#sites li { padding-left: 15px; color: rgb(102, 102, 102); }
#sites li:hover { background: none repeat scroll 0% 0% rgb(77, 180, 241); color: rgb(255, 255, 255); }
#sites span { vertical-align: middle; }
#sites span.flag { background: url("v4_sprite.png") no-repeat scroll 0% 0% transparent; display: inline-block; margin-right: 7px; height: 9px; width: 14px; }
#sites span.flag.at { background-position: 0px 0px; }
#sites span.flag.au { background-position: -14px 0px; }
#sites span.flag.be { background-position: -28px 0px; }
#sites span.flag.br { background-position: -42px 0px; }
#sites span.flag.ca { background-position: -56px 0px; }
#sites span.flag.cz { background-position: -84px 0px; }
#sites span.flag.fr { background-position: 0px -9px; }
#sites span.flag.de { background-position: -98px 0px; }
#sites span.flag.gr { background-position: -28px -9px; }
#sites span.flag.hk { background-position: -42px -9px; }
#sites span.flag.hu { background-position: -56px -9px; }
#sites span.flag.ie { background-position: -70px -9px; }
#sites span.flag.it { background-position: -84px -9px; }
#sites span.flag.jp { background-position: -98px -9px; }
#sites span.flag.lu { background-position: -112px -9px; }
#sites span.flag.mx { background-position: 0px -18px; }
#sites span.flag.nl { background-position: -14px -18px; }
#sites span.flag.nz { background-position: -28px -18px; }
#sites span.flag.pl { background-position: -42px -18px; }
#sites span.flag.pt { background-position: -56px -18px; }
#sites span.flag.sg { background-position: -84px -18px; }
#sites span.flag.es { background-position: -112px 0px; }
#sites span.flag.se { background-position: -70px -18px; }
#sites span.flag.ch { background-position: -70px 0px; }
#sites span.flag.tw { background-position: -98px -18px; }
#sites span.flag.us { background-position: -112px -18px; }
#sites span.flag.cn { background-position: 0px -27px; }
#sites span.flag.dk { background-position: -14px -27px; }
#sites span.flag.il { background-position: -28px -27px; }
#sites span.flag.kr { background-position: -42px -27px; }
#footer_bottom { background: none repeat scroll 0% 0% rgb(103, 103, 103); padding-top: 10px; color: rgb(204, 204, 204); font-size: 10px; font-family: Arial,Helvetica,sans-serif; height: 100px; overflow: hidden; }
#footer_bottom p { margin-bottom: 0.5em; margin-top: 0em; }
span.cart-header { color: rgb(255, 255, 255); }
span.cart-header:hover span { color: rgb(102, 204, 255); }
span.cart-header:hover span.sprite { opacity: 0.5; }
#top_nav .container span.cart-header span { margin-right: 0px; margin-left: 0px; }
span.cart-header span.sprite, span.cart-footer span.sprite { background-image: url("sprite.png"); background-repeat: no-repeat; vertical-align: middle; display: inline-block; margin-right: 3px; }
#top_nav .container span.cart-header span.sprite { background-position: -96px -100px; margin-left: 7px; height: 16px; width: 16px; }
span.cart-footer span.sprite { background-position: -63px -100px; height: 20px; width: 20px; }
span.cart-header { display: inline; }
span.cart-footer { position: fixed; text-align: center; z-index: 1500; bottom: 0px; right: 0px; color: rgb(255, 255, 255); border-top: 1px solid rgb(181, 182, 181); background-repeat: repeat-x; border-left: 1px solid rgb(181, 182, 181); background-color: rgb(51, 153, 204); padding: 3px 10px; font-weight: bold; border-radius: 5px 0px 0px; cursor: pointer; display: block; }
span.cart-header.hide, span.cart-footer.hide { display: none; }
span.cart-header span.cart-sing, span.cart-footer span.cart-sing { display: none; }
span.thumb-container { display: inline-block; position: relative; }
